In [3]:
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver
import re
from selenium.webdriver.common.by import By
from datetime import datetime 
import pymysql
from sqlalchemy import create_engine

In [4]:
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless') #내부 창을 띄울 수 없으므로 설정
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
chromeDriver = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

C:\Users\sum96\AppData\Local\Temp\ipykernel_12172\1343117472.py:5: DeprecationWarning: use options instead of chrome_options
  chromeDriver = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

In [86]:
chromeDriver.get("http://www.statiz.co.kr/schedule.php")
html = chromeDriver.page_source
bsObject = BeautifulSoup(html, 'html.parser')

# 날짜정보 받아오기
now = datetime.now().strftime("%Y-%m-%d")
now = '2023-04-08'

init_url = str(bsObject.find_all('table', {'class' : 'table table-striped table-bordered'})).split(f'boxscore.php?date={now}&amp;')[-5:]

# 데이터 전처리 함수

In [87]:
def transform_pitching_data(pitching_list,team):
    player_list = []
    for i in pitching_list:
        date = now
        name = i.split('>')[1].split('<')[0]
        birth = i.split('"')[0]
        today_type = i.split('(')[1].split(',')[0]
        if '"popup/pitlog.php' in today_type:
            today_type = '' 
        IP = i.split('<b>')[1].split('</b>')[0]
        TBF = i.split('<td>')[1].split('</td>')[0]
        H = i.split('<td>')[2].split('</td>')[0]
        R = i.split('<td>')[3].split('</td>')[0]
        ER = i.split('<td>')[4].split('</td>')[0]
        BB = i.split('<td>')[5].split('</td>')[0]
        HBP = i.split('<td>')[6].split('</td>')[0]
        K = i.split('<td>')[7].split('</td>')[0]
        HR = i.split('<td>')[8].split('</td>')[0]
        GO_FO = i.split('<td align="center">')[2].split('</td>')[0]
        PIT_S = i.split('<td align="center">')[3].split('</td>')[0]
        IR_IS = i.split('<td align="center">')[4].split('</td>')[0]
        GSC = i.split('<td>')[9].split('</td>')[0]
        ERA = i.split('<td align="center">')[5].split('</td>')[0]
        WHIP = i.split('<td align="center">')[6].split('</td>')[0]
        LI = i.split('<td>')[10].split('</td>')[0]
        WPA = i.split('<td>')[11].split('</td>')[0]
        RE24 = i.split('<td>')[12].split('</td>')[0]
        player_list.append([date, name,birth,team,today_type,IP,TBF,H,R,ER,BB,HBP,K,HR,GO_FO,PIT_S,IR_IS,GSC,ERA,WHIP,LI,WPA,RE24])
    return player_list

def transform_batting_data(batting_list, team):
    player_list = []
    for i in batting_list:
        date = now
        name = i.split('>')[1].split('<')[0]
        birth = i.split('"')[0]
        P = i.split('<td>')[1].split('</td>')[0]
        TPA = i.split('<b>')[1].split('</b>')[0]
        AB = i.split('<td>')[3].split('</td>')[0]
        R = i.split('<td>')[4].split('</td>')[0]
        H = i.split('<td>')[5].split('</td>')[0]
        HR = i.split('<td>')[6].split('</td>')[0]
        RBI = i.split('<td>')[7].split('</td>')[0]
        BB = i.split('<td>')[8].split('</td>')[0]
        HBP = i.split('<td>')[9].split('</td>')[0]   
        SO = i.split('<td>')[10].split('</td>')[0]
        GO = i.split('<td>')[11].split('</td>')[0]
        FO = i.split('<td>')[12].split('</td>')[0]
        PIT = i.split('<td>')[13].split('</td>')[0]
        GDP = i.split('<td>')[14].split('</td>')[0]
        LOB = i.split('<td>')[15].split('</td>')[0]
        AVG = i.split('<td>')[16].split('</td>')[0]
        OPS = i.split('<td>')[17].split('</td>')[0]
        LI = i.split('<td>')[18].split('</td>')[0]
        WPA = i.split('<td>')[19].split('</td>')[0]
        RE24 = i.split('<td>')[20].split('</td>')[0]
        
        player_list.append([date, name,birth,team,P,TPA,AB,R,H,HR,RBI,BB,HBP,SO,GO,FO,PIT,GDP,LOB,AVG,OPS,LI,WPA,RE24])
    return player_list

# 데이터 크롤링 부분

In [88]:
batting = pd.DataFrame()
pitching = pd.DataFrame()
# 날짜 기준으로 해당 경기 데이터 순서대로 크롤링
for i in init_url:
    stadium = str(i).split('>')[0]
    
    # 경기 url만들기 
    url = f'http://www.statiz.co.kr/boxscore.php?opt=4&date={now}&{stadium}'
    chromeDriver.get(url)
    html = chromeDriver.page_source
    bsObject = BeautifulSoup(html, 'html.parser')
    
    
    # 홈팀
    home_batting = str(bsObject.find_all('h3')[1])
    hometeam = home_batting.split('(')[1].split(')')[0]
    
    # 원정팀 
    away_batting = str(bsObject.find_all('h3')[2])
    awayteam = away_batting.split('(')[1].split(')')[0]

    print(f'{hometeam} vs {awayteam} 경기 데이터 크롤링 !')
    
    # 타자 컬럼 데이터 추출
    batting_columns = ['yyyymmdd', 'player_name', 'player_birth', 'team']
    for i in bsObject.find_all('th')[2:22]:
        batting_columns.append(str(i).split('<th>')[1].split('</th>')[0])
    
    ############################
    ## 홈팀 데이터 추출 진행 ! ##  
    ############################

    # 홈팀 타자들의 정보 리스트로 담아두기
    home_batting_list = []
    for i in str(bsObject.find_all('table')[3]).split('birth=')[1:]:
        home_batting_list.append(i)

    # 타자별 정보 분리 및 2차월 배열로 저장           
    home_player_list = transform_batting_data(home_batting_list, hometeam)
    home_team_batting = pd.DataFrame(home_player_list,columns=batting_columns)
    

    ##############################
    ## 원정팀 데이터 추출 진행 ! ##  
    ##############################
    
    # 원정팀 타자들의 정보 리스트로 담아두기
    away_batting_list = []
    for i in str(bsObject.find_all('table')[5]).split('birth=')[1:]:
        away_batting_list.append(i)
    
    # 타자별 정보 분리 및 2차월 배열로 저장
    away_player_list = transform_batting_data(away_batting_list, awayteam)
    away_team_batting = pd.DataFrame(away_player_list,columns=batting_columns)
    

    # 홈팀, 원정팀 정보 concat
    batting = pd.concat([batting,home_team_batting,away_team_batting])

    ##############################
    ## 타자 정보가져오기 완료 !! ##
    ##############################

    # 타자 컬럼 데이터 추출
    pitching_columns = ['yyyymmdd', 'player_name', 'player_birth', 'team','today_type']
    for i in str(bsObject.find_all('table')[7]).split('<th>')[2:]:
        
        # 주석처리된 지표 핸들링
        if i.split('</th>')[0] != 'RS':
            pitching_columns.append(i.split('</th>')[0])

    ############################
    ## 홈팀 데이터 추출 진행 ! ##  
    ############################

    # 홈팀 투수들의 정보 리스트로 담아두기
    home_pitching_list = []
    for i in str(bsObject.find_all('table')[7]).split('birth=')[1:]:
        home_pitching_list.append(i)

    # 투수별 정보 분리 및 2차월 배열로 저장
    player_list = transform_pitching_data(home_pitching_list, hometeam)
    home_team_pitching = pd.DataFrame(player_list,columns=pitching_columns)

    ##############################
    ## 원정팀 데이터 추출 진행 ! ##  
    ##############################

    # 원정팀 투수들의 정보 리스트로 담아두기
    away_pitching_list = []
    for i in str(bsObject.find_all('table')[9]).split('birth=')[1:]:
        away_pitching_list.append(i)

    # 투수별 정보 분리 및 2차월 배열로 저장
    player_list = transform_pitching_data(away_pitching_list, awayteam)
    away_team_pitching = pd.DataFrame(player_list,columns=pitching_columns)

    # 홈팀, 원정팀 정보 concat
    pitching = pd.concat([pitching,home_team_pitching,away_team_pitching])

SSG vs 한화 경기 데이터 크롤링 !
KT vs 롯데 경기 데이터 크롤링 !
삼성 vs LG 경기 데이터 크롤링 !
키움 vs NC 경기 데이터 크롤링 !
두산 vs KIA 경기 데이터 크롤링 !

In [92]:
home_player_list

[['2023-04-08',
  '이유찬',
  '1998-08-05',
  '두산',
  '6',
  '4',
  '2',
  '0',
  '0',
  '0',
  '0',
  '1',
  '1',
  '1',
  '0',
  '1',
  '15',
  '0',
  '1',
  '0.200',
  '0.492',
  '1.62',
  '-0.040',
  '-0.21'],
 ['2023-04-08',
  '로하스',
  '1993-02-24',
  '두산',
  'h',
  '1',
  '1',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '1',
  '2',
  '0',
  '2',
  '0.125',
  '0.597',
  '3.24',
  '-0.120',
  '-0.83'],
 ['2023-04-08',
  '김재호',
  '1985-03-21',
  '두산',
  '6',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0.000',
  '0.000',
  '',
  '0.000',
  '0.00'],
 ['2023-04-08',
  '허경민',
  '1990-08-26',
  '두산',
  '5',
  '5',
  '4',
  '0',
  '0',
  '0',
  '0',
  '1',
  '0',
  '0',
  '2',
  '2',
  '20',
  '1',
  '6',
  '0.240',
  '0.635',
  '2.28',
  '-0.276',
  '-2.12'],
 ['2023-04-08',
  '강승호',
  '1994-02-09',
  '두산',
  '4',
  '5',
  '5',
  '2',
  '2',
  '0',
  '0',
  '0',
  '0',
  '2',
  '1',
  '0',
  '23',
  '0',
  '4',
  '0.304',
  '0.664',
  '1.67',
  '-0.032',
  '-0.54'],
 ['2023-04-08',
  '김재환',
  '1988-09-22',
  '두산',
  '7',
  '5',
  '5',
  '2',
  '2',
  '1',
  '2',
  '0',
  '0',
  '3',
  '0',
  '0',
  '22',
  '0',
  '3',
  '0.280',
  '1.080',
  '2.06',
  '0.347',
  '1.37'],
 ['2023-04-08',
  '양의지',
  '1987-06-05',
  '두산',
  '0',
  '5',
  '4',
  '1',
  '1',
  '0',
  '1',
  '1',
  '0',
  '0',
  '1',
  '2',
  '17',
  '0',
  '0',
  '0.350',
  '0.830',
  '1.34',
  '0.035',
  '0.63'],
 ['2023-04-08',
  '양석환',
  '1991-07-15',
  '두산',
  '3',
  '5',
  '3',
  '1',
  '2',
  '0',
  '1',
  '1',
  '0',
  '0',
  '0',
  '1',
  '13',
  '0',
  '0',
  '0.412',
  '1.359',
  '1.19',
  '0.123',
  '0.67'],
 ['2023-04-08',
  '조수행',
  '1993-08-30',
  '두산',
  'r9',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0.250',
  '0.500',
  '',
  '-0.045',
  '-0.19'],
 ['2023-04-08',
  '송승환',
  '2000-10-28',
  '두산',
  '9',
  '5',
  '5',
  '0',
  '2',
  '0',
  '1',
  '0',
  '0',
  '1',
  '0',
  '2',
  '15',
  '0',
  '3',
  '0.400',
  '0.800',
  '1.84',
  '0.033',
  '0.35'],
 ['2023-04-08',
  '신성현',
  '1990-10-19',
  '두산',
  '3',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0.200',
  '0.629',
  '',
  '0.000',
  '0.00'],
 ['2023-04-08',
  '장승현',
  '1994-03-07',
  '두산',
  '2',
  '4',
  '4',
  '0',
  '1',
  '0',
  '1',
  '0',
  '0',
  '1',
  '1',
  '1',
  '18',
  '0',
  '2',
  '0.125',
  '0.250',
  '1.68',
  '0.013',
  '0.11'],
 ['2023-04-08',
  '정수빈',
  '1990-10-07',
  '두산',
  '8',
  '4',
  '1',
  '0',
  '1',
  '0',
  '0',
  '2',
  '0',
  '0',
  '0',
  '0',
  '18',
  '0',
  '0',
  '0.280',
  '0.699',
  '1.58',
  '0.266',
  '1.77']]

In [93]:
batting

,yyyymmdd,player_name,player_birth,team,P,TPA,AB,R,H,HR,...,GO,FO,PIT,GDP,LOB,AVG,OPS,LI,WPA,RE24
0,2023-04-08,추신수,1982-07-13,SSG,0,6,3,1,2,0,...,1,0,24,0,0,0.214,0.989,1.85,0.219,1.49
1,2023-04-08,최지훈,1997-07-23,SSG,8,6,5,0,3,0,...,1,0,25,1,4,0.190,0.510,2.87,0.166,0.72
2,2023-04-08,최정,1987-02-28,SSG,5,6,3,0,0,0,...,1,1,28,0,3,0.211,0.778,2.82,0.208,1.23
3,2023-04-08,최주환,1988-02-28,SSG,4,6,6,0,0,0,...,3,1,21,0,8,0.313,0.790,1.53,-0.285,-2.96
4,2023-04-08,김성현,1987-03-09,SSG,4,0,0,0,0,0,...,0,0,0,0,0,0.250,0.500,,0.000,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9,2023-04-08,김호령,1992-04-30,KIA,8,4,3,1,1,0,...,1,0,17,0,0,0.222,0.522,0.72,-0.014,-0.35
10,2023-04-08,주효상,1997-11-11,KIA,2,3,2,0,0,0,...,0,1,12,0,0,0.000,0.000,0.84,-0.043,-0.59
11,2023-04-08,김선빈,1989-12-18,KIA,h,1,1,0,0,0,...,0,0,3,0,1,0.250,0.500,0.33,-0.010,-0.38
12,2023-04-08,한승택,1994-06-21,KIA,2,0,0,0,0,0,...,0,0,0,0,0,0.000,0.250,,0.000,0.00
13,2023-04-08,김규성,1997-03-08,KIA,4,4,4,0,3,0,...,1,0,10,0,1,0.429,0.984,0.58,0.098,1.21

# 데이터 적재를 위한 컬럼명 변환 작업

In [96]:
pitching

,yyyymmdd,player_name,player_birth,team,today_type,IP,TBF,H,R,ER,...,HR,GO-FO,PIT-S,IR-IS,GSC,ERA,WHIP,LI,WPA,RE24
0,2023-04-08,김광현,1988-07-22,SSG,,3.0,20,8,5,5,...,1,4-2,70-41,0-0,20,6.75,2.38,1.0,-0.273,-3.34
1,2023-04-08,송영진,2004-05-28,SSG,,3.0,11,0,0,0,...,0,3-2,42-24,0-0,,0.00,1.07,0.6,0.089,1.66
2,2023-04-08,백승건,2000-10-29,SSG,,1.0,3,0,0,0,...,0,0-3,11-7,0-0,,0.00,0.67,0.6,0.043,0.55
3,2023-04-08,최민준,1999-06-11,SSG,,1.0,3,0,0,0,...,0,2-0,13-7,0-0,,0.00,0.67,1.4,0.107,0.55
4,2023-04-08,노경은,1984-03-11,SSG,,0.1,3,1,0,0,...,0,0-1,11-5,0-0,,10.80,3.60,2.4,-0.070,-0.42
5,2023-04-08,고효준,1983-02-08,SSG,승,0.2,2,0,0,0,...,0,0-0,12-7,2-0,,0.00,0.43,4.3,0.208,0.97
6,2023-04-08,서진용,1992-10-02,SSG,세,1.0,4,0,0,0,...,0,0-1,13-8,0-0,,0.00,0.75,1.8,0.091,0.55
0,2023-04-08,김민우,1995-07-25,한화,,5.0,22,5,3,3,...,1,6-3,86-51,0-0,46,5.40,1.60,1.0,0.052,-0.23
1,2023-04-08,이태양,1990-07-03,한화,홀,1.0,7,2,1,1,...,0,0-1,27-14,0-0,,5.40,2.10,2.9,-0.040,-0.44
2,2023-04-08,한승주,2001-03-17,한화,홀,1.0,5,1,0,0,...,0,2-1,17-11,0-0,,2.25,1.50,1.9,0.096,0.55
3,2023-04-08,윤산흠,1999-05-15,한화,,0.1,4,1,1,1,...,0,0-0,16-5,0-0,,3.38,2.63,3.3,-0.228,-1.10
4,2023-04-08,강재민,1997-04-03,한화,블론,1.2,5,0,0,0,...,0,1-2,28-16,3-1,,4.50,0.50,3.0,0.224,1.20
5,2023-04-08,남지민,2001-02-12,한화,패,1.0,7,3,2,1,...,0,2-1,24-19,0-0,,9.00,3.00,2.7,-0.409,-1.45
0,2023-04-08,벤자민,1993-07-26,KT,승,6.0,25,6,3,3,...,1,8-3,99-69,0-0,53,2.25,0.75,1.1,0.066,0.33
1,2023-04-08,심재민,1994-02-18,KT,,0.0,2,2,0,0,...,0,0-0,5-4,0-0,,0.00,-,1.0,-0.089,-1.02
2,2023-04-08,박영현,2003-10-11,KT,홀,1.2,6,0,0,0,...,0,1-3,26-17,2-0,,2.25,1.25,1.1,0.140,1.88
3,2023-04-08,김재윤,1990-09-16,KT,,1.1,6,0,0,0,...,0,3-0,28-15,1-0,,0.00,0.67,0.6,0.029,0.81
0,2023-04-08,스트레일리,1988-12-01,롯데,패,6.0,27,7,5,4,...,1,2-8,92-61,0-0,46,5.73,1.36,0.8,-0.253,-1.67
1,2023-04-08,이태연,2004-02-21,롯데,,0.0,2,2,2,2,...,1,0-0,11-7,0-0,,10.80,1.20,0.8,-0.124,-2.00
2,2023-04-08,김상수,1988-01-02,롯데,,1.0,5,1,0,0,...,0,1-1,20-13,0-0,,5.40,2.40,0.2,0.012,0.55
3,2023-04-08,최영환,1992-02-20,롯데,,2.0,6,0,0,0,...,0,2-2,25-17,0-0,,3.00,1.00,0.1,0.011,1.11
0,2023-04-08,뷰캐넌,1989-05-11,삼성,,8.0,30,3,1,1,...,0,9-11,110-71,0-0,73,3.46,1.00,0.9,0.247,3.44
1,2023-04-08,오승환,1982-07-15,삼성,패,0.2,4,1,1,1,...,0,0-2,16-9,0-0,,6.00,1.67,2.3,-0.363,-0.79
0,2023-04-08,김윤식,2000-04-03,LG,,5.0,17,2,0,0,...,0,3-6,65-36,0-0,65,3.00,1.67,1.2,0.288,2.77
1,2023-04-08,김진성,1985-03-07,LG,홀,1.0,5,1,0,0,...,0,1-2,26-13,0-0,,0.00,0.67,1.8,0.080,0.55
2,2023-04-08,함덕주,1995-01-13,LG,홀,0.2,4,1,0,0,...,0,1-1,20-11,0-0,,0.00,0.64,1.5,0.012,0.09
3,2023-04-08,정우영,1999-08-19,LG,홀,1.1,4,0,0,0,...,0,3-1,13-9,2-0,,2.70,0.60,2.0,0.204,1.02
4,2023-04-08,이정용,1996-03-26,LG,승,1.0,6,2,1,1,...,0,1-1,21-13,0-0,,5.40,2.10,5.2,-0.200,-0.45
0,2023-04-08,요키시,1989-07-29,키움,,5.0,21,5,4,4,...,1,6-3,87-53,0-0,45,5.40,1.50,1.1,-0.177,-1.23
1,2023-04-08,김동혁,2001-12-27,키움,패,1.0,5,2,1,1,...,0,2-1,15-11,0-0,,2.25,0.75,1.5,-0.120,-0.45
2,2023-04-08,문성현,1991-11-09,키움,,1.0,6,2,1,1,...,0,0-2,20-10,0-0,,2.25,1.25,1.1,-0.075,-0.44
3,2023-04-08,변시원,1993-04-01,키움,,0.1,6,4,5,5,...,1,0-0,19-11,0-0,,40.50,3.50,0.6,-0.125,-3.91
4,2023-04-08,김성진,1997-11-14,키움,,0.2,5,2,0,0,...,0,0-0,17-9,2-2,,5.40,3.60,0.0,-0.004,-0.53
0,2023-04-08,구창모,1997-02-17,NC,,4.2,26,7,4,2,...,1,8-4,107-66,0-0,37,8.00,2.33,1.3,-0.103,-0.76
1,2023-04-08,하준영,1999-09-06,NC,,0.1,2,1,0,0,...,0,1-0,10-6,2-1,,0.00,1.50,2.4,-0.074,-0.46
2,2023-04-08,김진호,1998-06-07,NC,승,1.0,5,2,0,0,...,0,1-0,19-15,0-0,,4.91,1.36,1.6,0.075,0.55
3,2023-04-08,김영규,2000-02-10,NC,홀,1.0,4,1,0,0,...,0,0-1,12-10,0-0,,0.00,0.43,1.3,0.096,0.55
4,2023-04-08,김시훈,1999-02-24,NC,홀,0.1,3,2,1,1,...,0,0-0,18-11,0-0,,13.50,6.00,1.5,-0.125,-1.02
5,2023-04-08,임정호,1990-04-16,NC,홀,0.2,2,0,0,0,...,0,1-1,7-5,1-0,,0.00,1.13,2.5,0.127,0.57
6,2023-04-08,류진욱,1996-10-10,NC,,1.0,3,0,0,0,...,0,2-0,14-9,0-0,,0.00,0.50,0.0,0.002,0.55
0,2023-04-08,최원준,1994-12-21,두산,,5.0,24,8,5,5,...,2,3-6,88-58,0-0,34,5.25,1.17,0.9,-0.403,-2.22
1,2023-04-08,이형범,1994-02-27,두산,,0.1,3,2,1,1,...,0,0-0,9-3,0-0,,7.71,3.43,1.1,-0.106,-1.02
2,2023-04-08,고봉재,1993-05-14,두산,,0.2,2,0,0,0,...,0,2-0,11-6,1-0,,0.00,0.25,0.8,0.030,0.57
3,2023-04-08,최지강,2001-07-23,두산,,1.0,3,0,0,0,...,0,2-1,10-7,0-0,,5.40,0.90,0.3,0.023,0.55
4,2023-04-08,김명신,1993-11-29,두산,패,1.1,7,1,1,1,...,0,2-1,28-16,0-0,,8.31,1.62,0.8,0.017,0.54
5,2023-04-08,박신지,1999-07-16,두산,,0.0,3,1,0,0,...,0,0-0,13-5,1-1,,0.00,-,4.3,-0.365,-2.08
0,2023-04-08,이의리,2002-06-16,KIA,,3.0,16,2,2,2,...,0,2-2,77-39,0-0,47,3.38,2.00,1.4,-0.078,-0.35
1,2023-04-08,임기영,1993-04-16,KIA,,3.0,14,4,2,2,...,0,2-3,47-27,2-1,,6.00,1.67,1.8,-0.083,-0.32
2,2023-04-08,김대유,1991-05-08,KIA,홀,0.1,1,0,0,0,...,0,0-0,4-3,0-0,,4.50,1.00,1.3,0.034,0.26
3,2023-04-08,전상현,1996-04-18,KIA,홀,1.0,5,2,0,0,...,0,0-2,11-9,0-0,,0.00,0.86,1.5,-0.113,-0.61
4,2023-04-08,이준영,1992-08-10,KIA,홀,0.1,1,0,0,0,...,0,0-1,2-2,2-0,,0.00,2.00,3.2,0.120,0.83
5,2023-04-08,정해영,2001-08-23,KIA,승,1.1,6,3,2,2,...,1,1-2,22-13,2-0,,11.57,1.71,2.5,-0.186,-0.81

In [28]:
# 타자, 투수 선수정보 concat
player_info = pd.concat([pitching[['player_name', 'player_birth']], batting[['player_name','player_birth']]])

# 중복제거 
player_info = player_info.drop_duplicates(['player_name', 'player_birth'])

## 테이블 생성 함수 **테이블이 존재하지 않을 경우에만**

In [20]:
# 테이블생성
conn = pymysql.connect(host = 'localhost', user = 'sy', passwd='1030', db = 'baseball', charset='utf8', port = 3307)
cur = conn.cursor()
sql = '''create table if not exists player_info(
	player_id INT auto_increment not null ,
	player_name varchar(10) not null,
	player_birth DATE,
	primary Key (player_id)
)
'''
cur.execute(sql)
conn.close()

# 선수 정보 적재
## 데이터 적재 to_sql 사용 
## df의 컬럼명과 DB Table의 컬럼명이 같아야한다. 
## player_id는 자동생성이므로 df에서 컬럼을 만들어줄 필요는 없다.

In [22]:
# 주의할점! df의 컬럼명과 db table에서의 컬럼명이 같아야한다!
engine = create_engine("mysql+pymysql://sy:"+"1030"+"@localhost:3307/baseball?charset=utf8")
conn = engine.connect()
player_info.to_sql(name = 'player_info', con = engine, if_exists = 'append', index=False)
conn.close()

## yyyymmdd 형식변경 및 null값 변환

In [78]:
batting['yyyymmdd'] = batting['yyyymmdd'].apply(lambda x : x[0:4] + x[5:7] + x[8:10])
pitching['yyyymmdd'] = pitching['yyyymmdd'].apply(lambda x : x[0:4] + x[5:7] + x[8:10])

#null 값 제거
batting['LI'] = batting['LI'].apply(lambda x : '0' if x =='' else x)
batting['LI'] = batting['LI'].astype(float)

# 타자정보 적재

In [83]:
engine = create_engine("mysql+pymysql://sy:"+"1030"+"@localhost:3307/baseball?charset=utf8")
conn = engine.connect()
batting.to_sql(name = 'batting_info', con = engine, if_exists = 'append', index=False)

122

In [38]:
from datetime import timedelta
datetime(2023,1,1) + timedelta(days = 1)
# datetime.now().strftime("%Y-%m-%d")

datetime.datetime(2023, 1, 2, 0, 0)

In [82]:
for i in range(1,366):
    type1 = (datetime(2023,1,1) + timedelta(days = i-1)).strftime("%Y%m%d")
    type2 = (datetime(2023,1,1) + timedelta(days = i)).strftime("%Y%m%d")
    print(f'PARTITION p{type1} VALUES LESS THAN ({type2}),')

PARTITION p20230101 VALUES LESS THAN (20230102),
PARTITION p20230102 VALUES LESS THAN (20230103),
PARTITION p20230103 VALUES LESS THAN (20230104),
PARTITION p20230104 VALUES LESS THAN (20230105),
PARTITION p20230105 VALUES LESS THAN (20230106),
PARTITION p20230106 VALUES LESS THAN (20230107),
PARTITION p20230107 VALUES LESS THAN (20230108),
PARTITION p20230108 VALUES LESS THAN (20230109),
PARTITION p20230109 VALUES LESS THAN (20230110),
PARTITION p20230110 VALUES LESS THAN (20230111),
PARTITION p20230111 VALUES LESS THAN (20230112),
PARTITION p20230112 VALUES LESS THAN (20230113),
PARTITION p20230113 VALUES LESS THAN (20230114),
PARTITION p20230114 VALUES LESS THAN (20230115),
PARTITION p20230115 VALUES LESS THAN (20230116),
PARTITION p20230116 VALUES LESS THAN (20230117),
PARTITION p20230117 VALUES LESS THAN (20230118),
PARTITION p20230118 VALUES LESS THAN (20230119),
PARTITION p20230119 VALUES LESS THAN (20230120),
PARTITION p20230120 VALUES LESS THAN (20230121),
PARTITION p20230121 VALUES LESS THAN (20230122),
PARTITION p20230122 VALUES LESS THAN (20230123),
PARTITION p20230123 VALUES LESS THAN (20230124),
PARTITION p20230124 VALUES LESS THAN (20230125),
PARTITION p20230125 VALUES LESS THAN (20230126),
PARTITION p20230126 VALUES LESS THAN (20230127),
PARTITION p20230127 VALUES LESS THAN (20230128),
PARTITION p20230128 VALUES LESS THAN (20230129),
PARTITION p20230129 VALUES LESS THAN (20230130),
PARTITION p20230130 VALUES LESS THAN (20230131),
PARTITION p20230131 VALUES LESS THAN (20230201),
PARTITION p20230201 VALUES LESS THAN (20230202),
PARTITION p20230202 VALUES LESS THAN (20230203),
PARTITION p20230203 VALUES LESS THAN (20230204),
PARTITION p20230204 VALUES LESS THAN (20230205),
PARTITION p20230205 VALUES LESS THAN (20230206),
PARTITION p20230206 VALUES LESS THAN (20230207),
PARTITION p20230207 VALUES LESS THAN (20230208),
PARTITION p20230208 VALUES LESS THAN (20230209),
PARTITION p20230209 VALUES LESS THAN (20230210),
PARTITION p20230210 VALUES LESS THAN (20230211),
PARTITION p20230211 VALUES LESS THAN (20230212),
PARTITION p20230212 VALUES LESS THAN (20230213),
PARTITION p20230213 VALUES LESS THAN (20230214),
PARTITION p20230214 VALUES LESS THAN (20230215),
PARTITION p20230215 VALUES LESS THAN (20230216),
PARTITION p20230216 VALUES LESS THAN (20230217),
PARTITION p20230217 VALUES LESS THAN (20230218),
PARTITION p20230218 VALUES LESS THAN (20230219),
PARTITION p20230219 VALUES LESS THAN (20230220),
PARTITION p20230220 VALUES LESS THAN (20230221),
PARTITION p20230221 VALUES LESS THAN (20230222),
PARTITION p20230222 VALUES LESS THAN (20230223),
PARTITION p20230223 VALUES LESS THAN (20230224),
PARTITION p20230224 VALUES LESS THAN (20230225),
PARTITION p20230225 VALUES LESS THAN (20230226),
PARTITION p20230226 VALUES LESS THAN (20230227),
PARTITION p20230227 VALUES LESS THAN (20230228),
PARTITION p20230228 VALUES LESS THAN (20230301),
PARTITION p20230301 VALUES LESS THAN (20230302),
PARTITION p20230302 VALUES LESS THAN (20230303),
PARTITION p20230303 VALUES LESS THAN (20230304),
PARTITION p20230304 VALUES LESS THAN (20230305),
PARTITION p20230305 VALUES LESS THAN (20230306),
PARTITION p20230306 VALUES LESS THAN (20230307),
PARTITION p20230307 VALUES LESS THAN (20230308),
PARTITION p20230308 VALUES LESS THAN (20230309),
PARTITION p20230309 VALUES LESS THAN (20230310),
PARTITION p20230310 VALUES LESS THAN (20230311),
PARTITION p20230311 VALUES LESS THAN (20230312),
PARTITION p20230312 VALUES LESS THAN (20230313),
PARTITION p20230313 VALUES LESS THAN (20230314),
PARTITION p20230314 VALUES LESS THAN (20230315),
PARTITION p20230315 VALUES LESS THAN (20230316),
PARTITION p20230316 VALUES LESS THAN (20230317),
PARTITION p20230317 VALUES LESS THAN (20230318),
PARTITION p20230318 VALUES LESS THAN (20230319),
PARTITION p20230319 VALUES LESS THAN (20230320),
PARTITION p20230320 VALUES LESS THAN (20230321),
PARTITION p20230321 VALUES LESS THAN (20230322),
PARTITION p20230322 VALUES LESS THAN (20230323),
PARTITION p20230323 VALUES LESS THAN (20230324),
PARTITION p20230324 VALUES LESS THAN (20230325),
PARTITION p20230325 VALUES LESS THAN (20230326),
PARTITION p20230326 VALUES LESS THAN (20230327),
PARTITION p20230327 VALUES LESS THAN (20230328),
PARTITION p20230328 VALUES LESS THAN (20230329),
PARTITION p20230329 VALUES LESS THAN (20230330),
PARTITION p20230330 VALUES LESS THAN (20230331),
PARTITION p20230331 VALUES LESS THAN (20230401),
PARTITION p20230401 VALUES LESS THAN (20230402),
PARTITION p20230402 VALUES LESS THAN (20230403),
PARTITION p20230403 VALUES LESS THAN (20230404),
PARTITION p20230404 VALUES LESS THAN (20230405),
PARTITION p20230405 VALUES LESS THAN (20230406),
PARTITION p20230406 VALUES LESS THAN (20230407),
PARTITION p20230407 VALUES LESS THAN (20230408),
PARTITION p20230408 VALUES LESS THAN (20230409),
PARTITION p20230409 VALUES LESS THAN (20230410),
PARTITION p20230410 VALUES LESS THAN (20230411),
PARTITION p20230411 VALUES LESS THAN (20230412),
PARTITION p20230412 VALUES LESS THAN (20230413),
PARTITION p20230413 VALUES LESS THAN (20230414),
PARTITION p20230414 VALUES LESS THAN (20230415),
PARTITION p20230415 VALUES LESS THAN (20230416),
PARTITION p20230416 VALUES LESS THAN (20230417),
PARTITION p20230417 VALUES LESS THAN (20230418),
PARTITION p20230418 VALUES LESS THAN (20230419),
PARTITION p20230419 VALUES LESS THAN (20230420),
PARTITION p20230420 VALUES LESS THAN (20230421),
PARTITION p20230421 VALUES LESS THAN (20230422),
PARTITION p20230422 VALUES LESS THAN (20230423),
PARTITION p20230423 VALUES LESS THAN (20230424),
PARTITION p20230424 VALUES LESS THAN (20230425),
PARTITION p20230425 VALUES LESS THAN (20230426),
PARTITION p20230426 VALUES LESS THAN (20230427),
PARTITION p20230427 VALUES LESS THAN (20230428),
PARTITION p20230428 VALUES LESS THAN (20230429),
PARTITION p20230429 VALUES LESS THAN (20230430),
PARTITION p20230430 VALUES LESS THAN (20230501),
PARTITION p20230501 VALUES LESS THAN (20230502),
PARTITION p20230502 VALUES LESS THAN (20230503),
PARTITION p20230503 VALUES LESS THAN (20230504),
PARTITION p20230504 VALUES LESS THAN (20230505),
PARTITION p20230505 VALUES LESS THAN (20230506),
PARTITION p20230506 VALUES LESS THAN (20230507),
PARTITION p20230507 VALUES LESS THAN (20230508),
PARTITION p20230508 VALUES LESS THAN (20230509),
PARTITION p20230509 VALUES LESS THAN (20230510),
PARTITION p20230510 VALUES LESS THAN (20230511),
PARTITION p20230511 VALUES LESS THAN (20230512),
PARTITION p20230512 VALUES LESS THAN (20230513),
PARTITION p20230513 VALUES LESS THAN (20230514),
PARTITION p20230514 VALUES LESS THAN (20230515),
PARTITION p20230515 VALUES LESS THAN (20230516),
PARTITION p20230516 VALUES LESS THAN (20230517),
PARTITION p20230517 VALUES LESS THAN (20230518),
PARTITION p20230518 VALUES LESS THAN (20230519),
PARTITION p20230519 VALUES LESS THAN (20230520),
PARTITION p20230520 VALUES LESS THAN (20230521),
PARTITION p20230521 VALUES LESS THAN (20230522),
PARTITION p20230522 VALUES LESS THAN (20230523),
PARTITION p20230523 VALUES LESS THAN (20230524),
PARTITION p20230524 VALUES LESS THAN (20230525),
PARTITION p20230525 VALUES LESS THAN (20230526),
PARTITION p20230526 VALUES LESS THAN (20230527),
PARTITION p20230527 VALUES LESS THAN (20230528),
PARTITION p20230528 VALUES LESS THAN (20230529),
PARTITION p20230529 VALUES LESS THAN (20230530),
PARTITION p20230530 VALUES LESS THAN (20230531),
PARTITION p20230531 VALUES LESS THAN (20230601),
PARTITION p20230601 VALUES LESS THAN (20230602),
PARTITION p20230602 VALUES LESS THAN (20230603),
PARTITION p20230603 VALUES LESS THAN (20230604),
PARTITION p20230604 VALUES LESS THAN (20230605),
PARTITION p20230605 VALUES LESS THAN (20230606),
PARTITION p20230606 VALUES LESS THAN (20230607),
PARTITION p20230607 VALUES LESS THAN (20230608),
PARTITION p20230608 VALUES LESS THAN (20230609),
PARTITION p20230609 VALUES LESS THAN (20230610),
PARTITION p20230610 VALUES LESS THAN (20230611),
PARTITION p20230611 VALUES LESS THAN (20230612),
PARTITION p20230612 VALUES LESS THAN (20230613),
PARTITION p20230613 VALUES LESS THAN (20230614),
PARTITION p20230614 VALUES LESS THAN (20230615),
PARTITION p20230615 VALUES LESS THAN (20230616),
PARTITION p20230616 VALUES LESS THAN (20230617),
PARTITION p20230617 VALUES LESS THAN (20230618),
PARTITION p20230618 VALUES LESS THAN (20230619),
PARTITION p20230619 VALUES LESS THAN (20230620),
PARTITION p20230620 VALUES LESS THAN (20230621),
PARTITION p20230621 VALUES LESS THAN (20230622),
PARTITION p20230622 VALUES LESS THAN (20230623),
PARTITION p20230623 VALUES LESS THAN (20230624),
PARTITION p20230624 VALUES LESS THAN (20230625),
PARTITION p20230625 VALUES LESS THAN (20230626),
PARTITION p20230626 VALUES LESS THAN (20230627),
PARTITION p20230627 VALUES LESS THAN (20230628),
PARTITION p20230628 VALUES LESS THAN (20230629),
PARTITION p20230629 VALUES LESS THAN (20230630),
PARTITION p20230630 VALUES LESS THAN (20230701),
PARTITION p20230701 VALUES LESS THAN (20230702),
PARTITION p20230702 VALUES LESS THAN (20230703),
PARTITION p20230703 VALUES LESS THAN (20230704),
PARTITION p20230704 VALUES LESS THAN (20230705),
PARTITION p20230705 VALUES LESS THAN (20230706),
PARTITION p20230706 VALUES LESS THAN (20230707),
PARTITION p20230707 VALUES LESS THAN (20230708),
PARTITION p20230708 VALUES LESS THAN (20230709),
PARTITION p20230709 VALUES LESS THAN (20230710),
PARTITION p20230710 VALUES LESS THAN (20230711),
PARTITION p20230711 VALUES LESS THAN (20230712),
PARTITION p20230712 VALUES LESS THAN (20230713),
PARTITION p20230713 VALUES LESS THAN (20230714),
PARTITION p20230714 VALUES LESS THAN (20230715),
PARTITION p20230715 VALUES LESS THAN (20230716),
PARTITION p20230716 VALUES LESS THAN (20230717),
PARTITION p20230717 VALUES LESS THAN (20230718),
PARTITION p20230718 VALUES LESS THAN (20230719),
PARTITION p20230719 VALUES LESS THAN (20230720),
PARTITION p20230720 VALUES LESS THAN (20230721),
PARTITION p20230721 VALUES LESS THAN (20230722),
PARTITION p20230722 VALUES LESS THAN (20230723),
PARTITION p20230723 VALUES LESS THAN (20230724),
PARTITION p20230724 VALUES LESS THAN (20230725),
PARTITION p20230725 VALUES LESS THAN (20230726),
PARTITION p20230726 VALUES LESS THAN (20230727),
PARTITION p20230727 VALUES LESS THAN (20230728),
PARTITION p20230728 VALUES LESS THAN (20230729),
PARTITION p20230729 VALUES LESS THAN (20230730),
PARTITION p20230730 VALUES LESS THAN (20230731),
PARTITION p20230731 VALUES LESS THAN (20230801),
PARTITION p20230801 VALUES LESS THAN (20230802),
PARTITION p20230802 VALUES LESS THAN (20230803),
PARTITION p20230803 VALUES LESS THAN (20230804),
PARTITION p20230804 VALUES LESS THAN (20230805),
PARTITION p20230805 VALUES LESS THAN (20230806),
PARTITION p20230806 VALUES LESS THAN (20230807),
PARTITION p20230807 VALUES LESS THAN (20230808),
PARTITION p20230808 VALUES LESS THAN (20230809),
PARTITION p20230809 VALUES LESS THAN (20230810),
PARTITION p20230810 VALUES LESS THAN (20230811),
PARTITION p20230811 VALUES LESS THAN (20230812),
PARTITION p20230812 VALUES LESS THAN (20230813),
PARTITION p20230813 VALUES LESS THAN (20230814),
PARTITION p20230814 VALUES LESS THAN (20230815),
PARTITION p20230815 VALUES LESS THAN (20230816),
PARTITION p20230816 VALUES LESS THAN (20230817),
PARTITION p20230817 VALUES LESS THAN (20230818),
PARTITION p20230818 VALUES LESS THAN (20230819),
PARTITION p20230819 VALUES LESS THAN (20230820),
PARTITION p20230820 VALUES LESS THAN (20230821),
PARTITION p20230821 VALUES LESS THAN (20230822),
PARTITION p20230822 VALUES LESS THAN (20230823),
PARTITION p20230823 VALUES LESS THAN (20230824),
PARTITION p20230824 VALUES LESS THAN (20230825),
PARTITION p20230825 VALUES LESS THAN (20230826),
PARTITION p20230826 VALUES LESS THAN (20230827),
PARTITION p20230827 VALUES LESS THAN (20230828),
PARTITION p20230828 VALUES LESS THAN (20230829),
PARTITION p20230829 VALUES LESS THAN (20230830),
PARTITION p20230830 VALUES LESS THAN (20230831),
PARTITION p20230831 VALUES LESS THAN (20230901),
PARTITION p20230901 VALUES LESS THAN (20230902),
PARTITION p20230902 VALUES LESS THAN (20230903),
PARTITION p20230903 VALUES LESS THAN (20230904),
PARTITION p20230904 VALUES LESS THAN (20230905),
PARTITION p20230905 VALUES LESS THAN (20230906),
PARTITION p20230906 VALUES LESS THAN (20230907),
PARTITION p20230907 VALUES LESS THAN (20230908),
PARTITION p20230908 VALUES LESS THAN (20230909),
PARTITION p20230909 VALUES LESS THAN (20230910),
PARTITION p20230910 VALUES LESS THAN (20230911),
PARTITION p20230911 VALUES LESS THAN (20230912),
PARTITION p20230912 VALUES LESS THAN (20230913),
PARTITION p20230913 VALUES LESS THAN (20230914),
PARTITION p20230914 VALUES LESS THAN (20230915),
PARTITION p20230915 VALUES LESS THAN (20230916),
PARTITION p20230916 VALUES LESS THAN (20230917),
PARTITION p20230917 VALUES LESS THAN (20230918),
PARTITION p20230918 VALUES LESS THAN (20230919),
PARTITION p20230919 VALUES LESS THAN (20230920),
PARTITION p20230920 VALUES LESS THAN (20230921),
PARTITION p20230921 VALUES LESS THAN (20230922),
PARTITION p20230922 VALUES LESS THAN (20230923),
PARTITION p20230923 VALUES LESS THAN (20230924),
PARTITION p20230924 VALUES LESS THAN (20230925),
PARTITION p20230925 VALUES LESS THAN (20230926),
PARTITION p20230926 VALUES LESS THAN (20230927),
PARTITION p20230927 VALUES LESS THAN (20230928),
PARTITION p20230928 VALUES LESS THAN (20230929),
PARTITION p20230929 VALUES LESS THAN (20230930),
PARTITION p20230930 VALUES LESS THAN (20231001),
PARTITION p20231001 VALUES LESS THAN (20231002),
PARTITION p20231002 VALUES LESS THAN (20231003),
PARTITION p20231003 VALUES LESS THAN (20231004),
PARTITION p20231004 VALUES LESS THAN (20231005),
PARTITION p20231005 VALUES LESS THAN (20231006),
PARTITION p20231006 VALUES LESS THAN (20231007),
PARTITION p20231007 VALUES LESS THAN (20231008),
PARTITION p20231008 VALUES LESS THAN (20231009),
PARTITION p20231009 VALUES LESS THAN (20231010),
PARTITION p20231010 VALUES LESS THAN (20231011),
PARTITION p20231011 VALUES LESS THAN (20231012),
PARTITION p20231012 VALUES LESS THAN (20231013),
PARTITION p20231013 VALUES LESS THAN (20231014),
PARTITION p20231014 VALUES LESS THAN (20231015),
PARTITION p20231015 VALUES LESS THAN (20231016),
PARTITION p20231016 VALUES LESS THAN (20231017),
PARTITION p20231017 VALUES LESS THAN (20231018),
PARTITION p20231018 VALUES LESS THAN (20231019),
PARTITION p20231019 VALUES LESS THAN (20231020),
PARTITION p20231020 VALUES LESS THAN (20231021),
PARTITION p20231021 VALUES LESS THAN (20231022),
PARTITION p20231022 VALUES LESS THAN (20231023),
PARTITION p20231023 VALUES LESS THAN (20231024),
PARTITION p20231024 VALUES LESS THAN (20231025),
PARTITION p20231025 VALUES LESS THAN (20231026),
PARTITION p20231026 VALUES LESS THAN (20231027),
PARTITION p20231027 VALUES LESS THAN (20231028),
PARTITION p20231028 VALUES LESS THAN (20231029),
PARTITION p20231029 VALUES LESS THAN (20231030),
PARTITION p20231030 VALUES LESS THAN (20231031),
PARTITION p20231031 VALUES LESS THAN (20231101),
PARTITION p20231101 VALUES LESS THAN (20231102),
PARTITION p20231102 VALUES LESS THAN (20231103),
PARTITION p20231103 VALUES LESS THAN (20231104),
PARTITION p20231104 VALUES LESS THAN (20231105),
PARTITION p20231105 VALUES LESS THAN (20231106),
PARTITION p20231106 VALUES LESS THAN (20231107),
PARTITION p20231107 VALUES LESS THAN (20231108),
PARTITION p20231108 VALUES LESS THAN (20231109),
PARTITION p20231109 VALUES LESS THAN (20231110),
PARTITION p20231110 VALUES LESS THAN (20231111),
PARTITION p20231111 VALUES LESS THAN (20231112),
PARTITION p20231112 VALUES LESS THAN (20231113),
PARTITION p20231113 VALUES LESS THAN (20231114),
PARTITION p20231114 VALUES LESS THAN (20231115),
PARTITION p20231115 VALUES LESS THAN (20231116),
PARTITION p20231116 VALUES LESS THAN (20231117),
PARTITION p20231117 VALUES LESS THAN (20231118),
PARTITION p20231118 VALUES LESS THAN (20231119),
PARTITION p20231119 VALUES LESS THAN (20231120),
PARTITION p20231120 VALUES LESS THAN (20231121),
PARTITION p20231121 VALUES LESS THAN (20231122),
PARTITION p20231122 VALUES LESS THAN (20231123),
PARTITION p20231123 VALUES LESS THAN (20231124),
PARTITION p20231124 VALUES LESS THAN (20231125),
PARTITION p20231125 VALUES LESS THAN (20231126),
PARTITION p20231126 VALUES LESS THAN (20231127),
PARTITION p20231127 VALUES LESS THAN (20231128),
PARTITION p20231128 VALUES LESS THAN (20231129),
PARTITION p20231129 VALUES LESS THAN (20231130),
PARTITION p20231130 VALUES LESS THAN (20231201),
PARTITION p20231201 VALUES LESS THAN (20231202),
PARTITION p20231202 VALUES LESS THAN (20231203),
PARTITION p20231203 VALUES LESS THAN (20231204),
PARTITION p20231204 VALUES LESS THAN (20231205),
PARTITION p20231205 VALUES LESS THAN (20231206),
PARTITION p20231206 VALUES LESS THAN (20231207),
PARTITION p20231207 VALUES LESS THAN (20231208),
PARTITION p20231208 VALUES LESS THAN (20231209),
PARTITION p20231209 VALUES LESS THAN (20231210),
PARTITION p20231210 VALUES LESS THAN (20231211),
PARTITION p20231211 VALUES LESS THAN (20231212),
PARTITION p20231212 VALUES LESS THAN (20231213),
PARTITION p20231213 VALUES LESS THAN (20231214),
PARTITION p20231214 VALUES LESS THAN (20231215),
PARTITION p20231215 VALUES LESS THAN (20231216),
PARTITION p20231216 VALUES LESS THAN (20231217),
PARTITION p20231217 VALUES LESS THAN (20231218),
PARTITION p20231218 VALUES LESS THAN (20231219),
PARTITION p20231219 VALUES LESS THAN (20231220),
PARTITION p20231220 VALUES LESS THAN (20231221),
PARTITION p20231221 VALUES LESS THAN (20231222),
PARTITION p20231222 VALUES LESS THAN (20231223),
PARTITION p20231223 VALUES LESS THAN (20231224),
PARTITION p20231224 VALUES LESS THAN (20231225),
PARTITION p20231225 VALUES LESS THAN (20231226),
PARTITION p20231226 VALUES LESS THAN (20231227),
PARTITION p20231227 VALUES LESS THAN (20231228),
PARTITION p20231228 VALUES LESS THAN (20231229),
PARTITION p20231229 VALUES LESS THAN (20231230),
PARTITION p20231230 VALUES LESS THAN (20231231),
PARTITION p20231231 VALUES LESS THAN (20240101),