In [199]:
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver
import re
from selenium.webdriver.common.by import By
from datetime import datetime

In [10]:
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless') #내부 창을 띄울 수 없으므로 설정
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
chromeDriver = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

C:\Users\sum96\AppData\Local\Temp\ipykernel_10484\1343117472.py:5: DeprecationWarning: use options instead of chrome_options
  chromeDriver = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

In [261]:
chromeDriver.get("http://www.statiz.co.kr/schedule.php")
html = chromeDriver.page_source
bsObject = BeautifulSoup(html, 'html.parser')

# 날짜정보 받아오기
now = datetime.now().strftime("%Y-%m-%d")
now = '2023-04-09'

init_url = str(bsObject.find_all('table', {'class' : 'table table-striped table-bordered'})).split(f'boxscore.php?date={now}&amp;')[-5:]

In [262]:
batting = pd.DataFrame()

# 날짜 기준으로 해당 경기 데이터 순서대로 크롤링
for i in init_url:
    stadium = str(i).split('>')[0]
    
    # 경기 url만들기 
    url = f'http://www.statiz.co.kr/boxscore.php?opt=4&date={now}&{stadium}'
    chromeDriver.get(url)
    html = chromeDriver.page_source
    bsObject = BeautifulSoup(html, 'html.parser')
    
    
    # 홈팀
    home_batting = str(bsObject.find_all('h3')[1])
    print(home_batting)
    hometeam = home_batting.split('(')[1].split(')')[0]
    
    batting_columns = ['date', 'name', 'birth', 'team']
    for i in bsObject.find_all('th')[2:22]:
        batting_columns.append(str(i).split('<th>')[1].split('</th>')[0])
    
    
    # birth 기준으로 전처리 
    bsObject.find('table', {'class' : 'table table-striped'}).find_all('tr')[1:-1]

    batting_list = []
    for i in bsObject.find('table', {'class' : 'table table-striped'}).find_all('tr')[1:-1]:
        batting_list.append(str(i).split('birth=')[1])
               
    
    player_list = []
    for i in batting_list:
        date = now
        name = i.split('>')[1].split('<')[0]
        birth = i.split('"')[0]
        team = hometeam
        P = i.split('<td>')[1].split('</td>')[0]
        TPA = i.split('<b>')[1].split('</b>')[0]
        AB = i.split('<td>')[3].split('</td>')[0]
        R = i.split('<td>')[4].split('</td>')[0]
        H = i.split('<td>')[5].split('</td>')[0]
        HR = i.split('<td>')[6].split('</td>')[0]
        RBI = i.split('<td>')[7].split('</td>')[0]
        BB = i.split('<td>')[8].split('</td>')[0]
        HBP = i.split('<td>')[9].split('</td>')[0]   
        SO = i.split('<td>')[10].split('</td>')[0]
        GO = i.split('<td>')[11].split('</td>')[0]
        FO = i.split('<td>')[12].split('</td>')[0]
        PIT = i.split('<td>')[13].split('</td>')[0]
        GDP = i.split('<td>')[14].split('</td>')[0]
        LOB = i.split('<td>')[15].split('</td>')[0]
        AVG = i.split('<td>')[16].split('</td>')[0]
        OPS = i.split('<td>')[17].split('</td>')[0]
        LI = i.split('<td>')[18].split('</td>')[0]
        WPA = i.split('<td>')[19].split('</td>')[0]
        RE24 = i.split('<td>')[20].split('</td>')[0]
        
        player_list.append([date, name,birth,team,P,TPA,AB,R,H,HR,RBI,BB,HBP,SO,GO,FO,PIT,GDP,LOB,AVG,OPS,LI,WPA,RE24])
    team_batting = pd.DataFrame(player_list,columns=batting_columns)
    
    print(team_batting)
    
    batting = pd.concat([batting,team_batting])   
    
    away_batting = str(bsObject.find_all('h3')[2])

<h3 class="box-title"><b>타격기록 (SSG)</b></h3>
          date  name       birth team  P TPA AB  R  H HR  ... GO FO PIT GDP
0   2023-04-09   추신수  1982-07-13  SSG  9   4  4  0  0  0  ...  2  1  15   0  \
1   2023-04-09   오태곤  1991-11-18  SSG  9   0  0  0  0  0  ...  0  0   0   0
2   2023-04-09   최지훈  1997-07-23  SSG  8   4  4  2  2  0  ...  0  2  13   0
3   2023-04-09    최정  1987-02-28  SSG  5   4  4  0  1  0  ...  1  2  20   0
4   2023-04-09   최주환  1988-02-28  SSG  4   4  3  0  0  0  ...  0  2  15   0
5   2023-04-09   김성현  1987-03-09  SSG  4   0  0  0  0  0  ...  0  0   0   0
6   2023-04-09  에레디아  1991-01-31  SSG  7   4  4  1  2  0  ...  2  0  14   0
7   2023-04-09   한유섬  1989-08-09  SSG  0   4  4  0  0  0  ...  0  2  14   0
8   2023-04-09   박성한  1998-03-30  SSG  6   4  4  0  0  0  ...  3  1  16   0
9   2023-04-09   전의산  2000-11-25  SSG  3   4  2  0  0  0  ...  1  0  16   0
10  2023-04-09   이재원  1988-02-24  SSG  2   4  4  0  0  0  ...  1  3  12   1

   LOB    AVG    OPS    LI     WPA   RE24
0    1  0.167  0.816  0.65  -0.068  -0.95
1    0  0.308  0.708         0.000   0.00
2    0  0.240  0.665  0.55   0.072   0.74
3    1  0.217  0.731  0.81  -0.004  -0.14
4    1  0.263  0.702  0.59  -0.020  -0.50
5    0  0.250  0.500         0.000   0.00
6    1  0.333  0.907  0.83   0.136   1.34
7    4  0.167  0.485  0.90  -0.089  -1.35
8    1  0.300  1.012  0.63   0.071   0.30
9    0  0.375  1.333  0.47   0.028   0.22
10   3  0.100  0.200  0.75  -0.105  -1.67

[11 rows x 24 columns]
<h3 class="box-title"><b>타격기록 (KT)</b></h3>
          date name       birth team  P TPA AB  R  H HR  ... GO FO PIT GDP
0   2023-04-09  조용호  1989-09-09   KT  9   4  4  0  0  0  ...  0  2  10   0  \
1   2023-04-09  강백호  1999-07-29   KT  3   4  3  0  1  0  ...  0  1  20   0
2   2023-04-09  알포드  1994-07-20   KT  7   4  4  0  0  0  ...  0  2  13   0
3   2023-04-09  박병호  1986-07-10   KT  0   4  4  0  1  0  ...  1  1  14   0
4   2023-04-09  홍현빈  1997-08-29   KT  r   0  0  1  0  0  ...  0  0   0   0
5   2023-04-09  장성우  1990-01-17   KT  2   4  3  0  0  0  ...  1  1  14   0
6   2023-04-09  류현인  2000-11-08   KT  r   0  0  1  0  0  ...  0  0   0   0
7   2023-04-09  황재균  1987-07-28   KT  5   4  4  1  1  0  ...  1  1  12   0
8   2023-04-09  김민혁  1995-11-21   KT  8   4  4  0  2  0  ...  0  2   5   0
9   2023-04-09  박경수  1984-03-31   KT  4   3  3  0  1  0  ...  0  1   7   0
10  2023-04-09  이상호  1989-02-05   KT  h   1  1  0  0  0  ...  0  0   5   0
11  2023-04-09  김상수  1990-03-23   KT  6   4  4  0  1  0  ...  1  1  15   0

   LOB    AVG    OPS    LI     WPA   RE24
0    2  0.238  0.590  0.98  -0.106  -1.07
1    0  0.381  1.202  0.88  -0.005   0.02
2    3  0.333  1.042  1.07  -0.111  -1.30
3    1  0.400  1.035  0.65  -0.063  -0.35
4    0  0.000  0.000         0.000   0.00
5    0  0.118  0.326  0.85  -0.075  -0.30
6    0  0.000  0.000         0.000   0.00
7    0  0.227  0.591  0.68  -0.032   1.54
8    0  0.500  1.183  0.86   0.026   0.35
9    1  0.200  0.633  1.11   0.012   0.28
10   1  0.143  0.286  2.09  -0.050  -0.32
11   2  0.316  0.649  1.02  -0.088  -0.84

[12 rows x 24 columns]
<h3 class="box-title"><b>타격기록 (삼성)</b></h3>
          date name       birth team   P TPA AB  R  H HR  ... GO FO PIT GDP
0   2023-04-09  구자욱  1993-02-12   삼성   9   5  5  0  2  0  ...  0  3  22   0  \
1   2023-04-09  김지찬  2001-03-08   삼성   4   5  4  1  1  0  ...  2  1  12   0
2   2023-04-09  피렐라  1989-11-21   삼성   7   5  5  0  0  0  ...  1  3  23   0
3   2023-04-09  강민호  1985-08-18   삼성   0   5  5  0  2  0  ...  0  2  17   0
4   2023-04-09  오재일  1986-10-29   삼성   3   5  4  0  0  0  ...  1  2  14   0
5   2023-04-09  이원석  1986-10-21   삼성   5   3  3  0  1  0  ...  0  2  10   0
6   2023-04-09  이해승  2000-08-01   삼성  r5   1  1  0  0  0  ...  1  0   2   0
7   2023-04-09  김태군  1989-12-30   삼성   2   4  4  1  1  0  ...  3  0  14   1
8   2023-04-09  김성윤  1999-02-02   삼성   8   3  3  0  1  0  ...  1  1   4   0
9   2023-04-09  김동엽  1990-07-24   삼성   h   1  0  0  0  0  ...  0  0   7   0
10  2023-04-09  이성규  1993-08-03   삼성  r8   0  0  0  0  0  ...  0  0   0   0
11  2023-04-09  이재현  2003-02-04   삼성   6   4  3  0  1  0  ...  0  0  22   0

   LOB    AVG    OPS    LI     WPA   RE24
0    1  0.321  0.762  1.68   0.062   0.68
1    3  0.227  0.519  1.54  -0.101  -0.68
2    6  0.087  0.377  1.89  -0.261  -2.07
3    3  0.368  1.132  1.85  -0.040   0.24
4    1  0.190  0.499  1.27  -0.123  -0.81
5    2  0.381  1.030  1.06  -0.011  -0.18
6    0  0.000  0.000  1.39  -0.035  -0.18
7    2  0.111  0.311  1.19  -0.109  -0.95
8    0  0.250  0.450  1.18  -0.005   0.18
9    0  0.333  0.975  2.32   0.082   0.40
10   0  0.133  0.369         0.000   0.00
11   1  0.238  0.701  1.68  -0.021  -0.17

[12 rows x 24 columns]
<h3 class="box-title"><b>타격기록 (키움)</b></h3>
          date name       birth team   P TPA AB  R  H HR  ... GO FO PIT GDP
0   2023-04-09  이용규  1985-08-26   키움   0   3  3  0  0  0  ...  2  1   9   1  \
1   2023-04-09  김수환  1998-03-20   키움   h   1  1  0  0  0  ...  0  0   5   0
2   2023-04-09  김혜성  1999-01-27   키움   4   4  4  1  1  0  ...  2  1  17   0
3   2023-04-09  이정후  1998-08-20   키움   8   4  4  0  1  0  ...  0  3  11   0
4   2023-04-09   러셀  1994-01-23   키움   6   4  4  0  1  0  ...  1  1  11   0
5   2023-04-09  김웅빈  1996-02-09   키움   3   4  4  0  0  0  ...  0  2  17   0
6   2023-04-09  이형종  1989-06-07   키움   9   4  4  0  0  0  ...  0  1  19   0
7   2023-04-09  김태진  1995-10-07   키움   5   2  2  0  0  0  ...  1  1   4   0
8   2023-04-09  임병욱  1995-09-30   키움  h7   1  1  0  0  0  ...  0  1   6   0
9   2023-04-09  박주홍  2001-04-16   키움   h   1  1  0  0  0  ...  0  0   5   0
10  2023-04-09  이지영  1986-02-27   키움   2   2  2  0  1  0  ...  1  0   4   0
11  2023-04-09  김동헌  2004-07-15   키움   2   2  1  0  1  0  ...  0  0   7   0
12  2023-04-09  김준완  1991-01-20   키움   7   2  2  0  1  0  ...  1  0   9   0
13  2023-04-09  김휘집  2002-01-01   키움  h5   2  1  0  0  0  ...  0  0  11   0

   LOB    AVG    OPS    LI     WPA   RE24
0    3  0.296  0.737  1.26  -0.120  -1.55
1    2  0.000  0.000  1.49  -0.034  -0.50
2    2  0.314  0.705  0.77   0.028   0.38
3    3  0.208  0.671  0.97  -0.074  -0.97
4    1  0.313  0.708  0.74  -0.018  -0.10
5    1  0.176  0.440  0.76  -0.075  -0.88
6    1  0.231  0.701  0.51  -0.053  -0.81
7    0  0.185  0.399  0.54  -0.028  -0.37
8    0  0.273  0.636  0.59  -0.015  -0.26
9    0  0.000  0.000  0.07  -0.002  -0.18
10   0  0.182  0.445  0.70  -0.006   0.02
11   0  0.600  1.314  0.18   0.018   0.41
12   1  0.250  0.558  0.77   0.058   0.67
13   1  0.000  0.222  0.39   0.027   0.15

[14 rows x 24 columns]
<h3 class="box-title"><b>타격기록 (두산)</b></h3>
          date name       birth team   P TPA AB  R  H HR  ... GO FO PIT GDP
0   2023-04-09  정수빈  1990-10-07   두산   8   5  5  0  1  0  ...  3  0  16   0  \
1   2023-04-09  허경민  1990-08-26   두산   5   5  4  0  1  0  ...  1  2  21   0
2   2023-04-09  양석환  1991-07-15   두산   3   5  5  1  1  1  ...  2  1  11   1
3   2023-04-09  김재환  1988-09-22   두산   0   4  2  1  0  0  ...  0  1  15   0
4   2023-04-09  양의지  1987-06-05   두산   2   4  4  0  1  0  ...  0  2   8   0
5   2023-04-09  로하스  1993-02-24   두산  97   4  1  1  0  0  ...  0  0  26   0
6   2023-04-09  양찬열  1997-05-25   두산   7   0  0  0  0  0  ...  0  0   0   0
7   2023-04-09  강승호  1994-02-09   두산   4   4  3  0  1  0  ...  1  0  17   0
8   2023-04-09  안재석  2002-02-15   두산   6   4  4  0  0  0  ...  1  2   9   0
9   2023-04-09  송승환  2000-10-28   두산   7   3  3  0  1  0  ...  1  0  10   0
10  2023-04-09  조수행  1993-08-30   두산  79   1  1  0  0  0  ...  1  0   3   0

   LOB    AVG    OPS    LI     WPA   RE24
0    0  0.267  0.653  0.72  -0.018  -0.13
1    2  0.241  0.637  0.84  -0.012   0.04
2    3  0.364  1.287  0.99  -0.069  -1.01
3    0  0.259  1.041  0.75   0.027   0.13
4    2  0.333  0.782  1.17  -0.088  -0.83
5    1  0.120  0.650  1.00   0.046   0.38
6    0  0.000  0.000         0.000   0.00
7    1  0.308  0.725  1.62   0.299   1.69
8    5  0.000  0.000  1.46  -0.152  -1.63
9    0  0.375  0.750  0.77  -0.034  -0.38
10   0  0.200  0.400  0.66  -0.016  -0.26

[11 rows x 24 columns]

In [263]:
batting

,date,name,birth,team,P,TPA,AB,R,H,HR,...,GO,FO,PIT,GDP,LOB,AVG,OPS,LI,WPA,RE24
0,2023-04-09,추신수,1982-07-13,SSG,9,4,4,0,0,0,...,2,1,15,0,1,0.167,0.816,0.65,-0.068,-0.95
1,2023-04-09,오태곤,1991-11-18,SSG,9,0,0,0,0,0,...,0,0,0,0,0,0.308,0.708,,0.000,0.00
2,2023-04-09,최지훈,1997-07-23,SSG,8,4,4,2,2,0,...,0,2,13,0,0,0.240,0.665,0.55,0.072,0.74
3,2023-04-09,최정,1987-02-28,SSG,5,4,4,0,1,0,...,1,2,20,0,1,0.217,0.731,0.81,-0.004,-0.14
4,2023-04-09,최주환,1988-02-28,SSG,4,4,3,0,0,0,...,0,2,15,0,1,0.263,0.702,0.59,-0.020,-0.50
5,2023-04-09,김성현,1987-03-09,SSG,4,0,0,0,0,0,...,0,0,0,0,0,0.250,0.500,,0.000,0.00
6,2023-04-09,에레디아,1991-01-31,SSG,7,4,4,1,2,0,...,2,0,14,0,1,0.333,0.907,0.83,0.136,1.34
7,2023-04-09,한유섬,1989-08-09,SSG,0,4,4,0,0,0,...,0,2,14,0,4,0.167,0.485,0.90,-0.089,-1.35
8,2023-04-09,박성한,1998-03-30,SSG,6,4,4,0,0,0,...,3,1,16,0,1,0.300,1.012,0.63,0.071,0.30
9,2023-04-09,전의산,2000-11-25,SSG,3,4,2,0,0,0,...,1,0,16,0,0,0.375,1.333,0.47,0.028,0.22
10,2023-04-09,이재원,1988-02-24,SSG,2,4,4,0,0,0,...,1,3,12,1,3,0.100,0.200,0.75,-0.105,-1.67
0,2023-04-09,조용호,1989-09-09,KT,9,4,4,0,0,0,...,0,2,10,0,2,0.238,0.590,0.98,-0.106,-1.07
1,2023-04-09,강백호,1999-07-29,KT,3,4,3,0,1,0,...,0,1,20,0,0,0.381,1.202,0.88,-0.005,0.02
2,2023-04-09,알포드,1994-07-20,KT,7,4,4,0,0,0,...,0,2,13,0,3,0.333,1.042,1.07,-0.111,-1.30
3,2023-04-09,박병호,1986-07-10,KT,0,4,4,0,1,0,...,1,1,14,0,1,0.400,1.035,0.65,-0.063,-0.35
4,2023-04-09,홍현빈,1997-08-29,KT,r,0,0,1,0,0,...,0,0,0,0,0,0.000,0.000,,0.000,0.00
5,2023-04-09,장성우,1990-01-17,KT,2,4,3,0,0,0,...,1,1,14,0,0,0.118,0.326,0.85,-0.075,-0.30
6,2023-04-09,류현인,2000-11-08,KT,r,0,0,1,0,0,...,0,0,0,0,0,0.000,0.000,,0.000,0.00
7,2023-04-09,황재균,1987-07-28,KT,5,4,4,1,1,0,...,1,1,12,0,0,0.227,0.591,0.68,-0.032,1.54
8,2023-04-09,김민혁,1995-11-21,KT,8,4,4,0,2,0,...,0,2,5,0,0,0.500,1.183,0.86,0.026,0.35
9,2023-04-09,박경수,1984-03-31,KT,4,3,3,0,1,0,...,0,1,7,0,1,0.200,0.633,1.11,0.012,0.28
10,2023-04-09,이상호,1989-02-05,KT,h,1,1,0,0,0,...,0,0,5,0,1,0.143,0.286,2.09,-0.050,-0.32
11,2023-04-09,김상수,1990-03-23,KT,6,4,4,0,1,0,...,1,1,15,0,2,0.316,0.649,1.02,-0.088,-0.84
0,2023-04-09,구자욱,1993-02-12,삼성,9,5,5,0,2,0,...,0,3,22,0,1,0.321,0.762,1.68,0.062,0.68
1,2023-04-09,김지찬,2001-03-08,삼성,4,5,4,1,1,0,...,2,1,12,0,3,0.227,0.519,1.54,-0.101,-0.68
2,2023-04-09,피렐라,1989-11-21,삼성,7,5,5,0,0,0,...,1,3,23,0,6,0.087,0.377,1.89,-0.261,-2.07
3,2023-04-09,강민호,1985-08-18,삼성,0,5,5,0,2,0,...,0,2,17,0,3,0.368,1.132,1.85,-0.040,0.24
4,2023-04-09,오재일,1986-10-29,삼성,3,5,4,0,0,0,...,1,2,14,0,1,0.190,0.499,1.27,-0.123,-0.81
5,2023-04-09,이원석,1986-10-21,삼성,5,3,3,0,1,0,...,0,2,10,0,2,0.381,1.030,1.06,-0.011,-0.18
6,2023-04-09,이해승,2000-08-01,삼성,r5,1,1,0,0,0,...,1,0,2,0,0,0.000,0.000,1.39,-0.035,-0.18
7,2023-04-09,김태군,1989-12-30,삼성,2,4,4,1,1,0,...,3,0,14,1,2,0.111,0.311,1.19,-0.109,-0.95
8,2023-04-09,김성윤,1999-02-02,삼성,8,3,3,0,1,0,...,1,1,4,0,0,0.250,0.450,1.18,-0.005,0.18
9,2023-04-09,김동엽,1990-07-24,삼성,h,1,0,0,0,0,...,0,0,7,0,0,0.333,0.975,2.32,0.082,0.40
10,2023-04-09,이성규,1993-08-03,삼성,r8,0,0,0,0,0,...,0,0,0,0,0,0.133,0.369,,0.000,0.00
11,2023-04-09,이재현,2003-02-04,삼성,6,4,3,0,1,0,...,0,0,22,0,1,0.238,0.701,1.68,-0.021,-0.17
0,2023-04-09,이용규,1985-08-26,키움,0,3,3,0,0,0,...,2,1,9,1,3,0.296,0.737,1.26,-0.120,-1.55
1,2023-04-09,김수환,1998-03-20,키움,h,1,1,0,0,0,...,0,0,5,0,2,0.000,0.000,1.49,-0.034,-0.50
2,2023-04-09,김혜성,1999-01-27,키움,4,4,4,1,1,0,...,2,1,17,0,2,0.314,0.705,0.77,0.028,0.38
3,2023-04-09,이정후,1998-08-20,키움,8,4,4,0,1,0,...,0,3,11,0,3,0.208,0.671,0.97,-0.074,-0.97
4,2023-04-09,러셀,1994-01-23,키움,6,4,4,0,1,0,...,1,1,11,0,1,0.313,0.708,0.74,-0.018,-0.10
5,2023-04-09,김웅빈,1996-02-09,키움,3,4,4,0,0,0,...,0,2,17,0,1,0.176,0.440,0.76,-0.075,-0.88
6,2023-04-09,이형종,1989-06-07,키움,9,4,4,0,0,0,...,0,1,19,0,1,0.231,0.701,0.51,-0.053,-0.81
7,2023-04-09,김태진,1995-10-07,키움,5,2,2,0,0,0,...,1,1,4,0,0,0.185,0.399,0.54,-0.028,-0.37
8,2023-04-09,임병욱,1995-09-30,키움,h7,1,1,0,0,0,...,0,1,6,0,0,0.273,0.636,0.59,-0.015,-0.26
9,2023-04-09,박주홍,2001-04-16,키움,h,1,1,0,0,0,...,0,0,5,0,0,0.000,0.000,0.07,-0.002,-0.18
10,2023-04-09,이지영,1986-02-27,키움,2,2,2,0,1,0,...,1,0,4,0,0,0.182,0.445,0.70,-0.006,0.02
11,2023-04-09,김동헌,2004-07-15,키움,2,2,1,0,1,0,...,0,0,7,0,0,0.600,1.314,0.18,0.018,0.41
12,2023-04-09,김준완,1991-01-20,키움,7,2,2,0,1,0,...,1,0,9,0,1,0.250,0.558,0.77,0.058,0.67
13,2023-04-09,김휘집,2002-01-01,키움,h5,2,1,0,0,0,...,0,0,11,0,1,0.000,0.222,0.39,0.027,0.15
0,2023-04-09,정수빈,1990-10-07,두산,8,5,5,0,1,0,...,3,0,16,0,0,0.267,0.653,0.72,-0.018,-0.13
1,2023-04-09,허경민,1990-08-26,두산,5,5,4,0,1,0,...,1,2,21,0,2,0.241,0.637,0.84,-0.012,0.04
2,2023-04-09,양석환,1991-07-15,두산,3,5,5,1,1,1,...,2,1,11,1,3,0.364,1.287,0.99,-0.069,-1.01
3,2023-04-09,김재환,1988-09-22,두산,0,4,2,1,0,0,...,0,1,15,0,0,0.259,1.041,0.75,0.027,0.13
4,2023-04-09,양의지,1987-06-05,두산,2,4,4,0,1,0,...,0,2,8,0,2,0.333,0.782,1.17,-0.088,-0.83
5,2023-04-09,로하스,1993-02-24,두산,97,4,1,1,0,0,...,0,0,26,0,1,0.120,0.650,1.00,0.046,0.38
6,2023-04-09,양찬열,1997-05-25,두산,7,0,0,0,0,0,...,0,0,0,0,0,0.000,0.000,,0.000,0.00
7,2023-04-09,강승호,1994-02-09,두산,4,4,3,0,1,0,...,1,0,17,0,1,0.308,0.725,1.62,0.299,1.69
8,2023-04-09,안재석,2002-02-15,두산,6,4,4,0,0,0,...,1,2,9,0,5,0.000,0.000,1.46,-0.152,-1.63
9,2023-04-09,송승환,2000-10-28,두산,7,3,3,0,1,0,...,1,0,10,0,0,0.375,0.750,0.77,-0.034,-0.38
10,2023-04-09,조수행,1993-08-30,두산,79,1,1,0,0,0,...,1,0,3,0,0,0.200,0.400,0.66,-0.016,-0.26

In [168]:
# P : 포지션
# TPA : 타석
# AB : 타수
# R : 득점
# H : 안타
# HR : 홈런
# RBI : 타점
# BB : 볼넷
# HBP : 데드볼
# SO : 삼진
# GO : 땅볼 아웃
# FO : ?
# PIT : ?
# GDP : 병살타
# LOB : 잔루
# AVG : 타율
# OPS : 출루율+장타율
# LI : 승부 영향 중요도
# WPA : 승리 확률 기여도
# RE24 : 기대득점 차이값


batting_columns = ['name', 'birth']
for i in bsObject.find_all('th')[2:22]:
    batting_columns.append(str(i).split('<th>')[1].split('</th>')[0])

In [98]:
# birth 기준으로 전처리 
bsObject.find('table', {'class' : 'table table-striped'}).find_all('tr')[1:-1]

batting_list = []
for i in bsObject.find('table', {'class' : 'table table-striped'}).find_all('tr')[1:-1]:
    batting_list.append(str(i).split('birth=')[1])

In [166]:

player_list = []
for i in batting_list:
    name = i.split('>')[1].split('<')[0]
    birth = i.split('"')[0]
    P = i.split('<td>')[1].split('</td>')[0]
    TPA = i.split('<b>')[1].split('</b>')[0]
    AB = i.split('<td>')[3].split('</td>')[0]
    R = i.split('<td>')[4].split('</td>')[0]
    H = i.split('<td>')[5].split('</td>')[0]
    HR = i.split('<td>')[6].split('</td>')[0]
    RBI = i.split('<td>')[7].split('</td>')[0]
    BB = i.split('<td>')[8].split('</td>')[0]
    HBP = i.split('<td>')[9].split('</td>')[0]   
    SO = i.split('<td>')[10].split('</td>')[0]
    GO = i.split('<td>')[11].split('</td>')[0]
    FO = i.split('<td>')[12].split('</td>')[0]
    PIT = i.split('<td>')[13].split('</td>')[0]
    GDP = i.split('<td>')[14].split('</td>')[0]
    LOB = i.split('<td>')[15].split('</td>')[0]
    AVG = i.split('<td>')[16].split('</td>')[0]
    OPS = i.split('<td>')[17].split('</td>')[0]
    LI = i.split('<td>')[18].split('</td>')[0]
    WPA = i.split('<td>')[19].split('</td>')[0]
    RE24 = i.split('<td>')[20].split('</td>')[0]
    
    player_list.append([name,birth,P,TPA,AB,R,H,HR,RBI,BB,HBP,SO,GO,FO,PIT,GDP,LOB,AVG,OPS,LI,WPA,RE24])

In [170]:
pd.DataFrame(player_list,columns=batting_columns)

,name,birth,P,TPA,AB,R,H,HR,RBI,BB,...,GO,FO,PIT,GDP,LOB,AVG,OPS,LI,WPA,RE24
0,추신수,1982-07-13,9,4,4,0,0,0,0,0,...,2,1,15,0,1,0.167,0.816,0.65,-0.068,-0.95
1,오태곤,1991-11-18,9,0,0,0,0,0,0,0,...,0,0,0,0,0,0.308,0.708,,0.000,0.00
2,최지훈,1997-07-23,8,4,4,2,2,0,0,0,...,0,2,13,0,0,0.240,0.665,0.55,0.072,0.74
3,최정,1987-02-28,5,4,4,0,1,0,1,0,...,1,2,20,0,1,0.217,0.731,0.81,-0.004,-0.14
4,최주환,1988-02-28,4,4,3,0,0,0,0,1,...,0,2,15,0,1,0.263,0.702,0.59,-0.020,-0.50
5,김성현,1987-03-09,4,0,0,0,0,0,0,0,...,0,0,0,0,0,0.250,0.500,,0.000,0.00
6,에레디아,1991-01-31,7,4,4,1,2,0,1,0,...,2,0,14,0,1,0.333,0.907,0.83,0.136,1.34
7,한유섬,1989-08-09,0,4,4,0,0,0,0,0,...,0,2,14,0,4,0.167,0.485,0.90,-0.089,-1.35
8,박성한,1998-03-30,6,4,4,0,0,0,0,0,...,3,1,16,0,1,0.300,1.012,0.63,0.071,0.30
9,전의산,2000-11-25,3,4,2,0,0,0,0,2,...,1,0,16,0,0,0.375,1.333,0.47,0.028,0.22
10,이재원,1988-02-24,2,4,4,0,0,0,0,0,...,1,3,12,1,3,0.100,0.200,0.75,-0.105,-1.67