In [125]:
import pymysql
import pandas as pd
from datetime import datetime
from sqlalchemy import create_engine

# 선수 테이블 생성하기

In [131]:
conn = pymysql.connect(host = '', user = 'sy', passwd='1030', db = 'baseball', charset='utf8', port = 3307,cursorclass=pymysql.cursors.DictCursor)
cur = conn.cursor()
sql = '''select * from batting_info
'''
cur.execute(sql)

result = cur.fetchall()
batting = pd.DataFrame(result)

sql = '''select * from pitching_info
'''
cur.execute(sql)

result = cur.fetchall()
pitching = pd.DataFrame(result)

conn.close()

In [142]:
batting = batting[['player_name','player_birth']].drop_duplicates(['player_name','player_birth'])
pitching = pitching[['player_name','player_birth']].drop_duplicates(['player_name','player_birth'])

In [146]:
player = pd.concat([batting,pitching]).drop_duplicates(['player_name','player_birth'])
player

    player_name player_birth
0           강백호   1999-07-29
1           강승호   1994-02-09
2           강현우   2001-04-13
3           고승민   2000-08-11
4           고종욱   1989-01-11
..          ...          ...
686         최준용   2001-10-10
711         원태인   2000-04-06
730         최이준   1999-04-10
768         이승호   1999-02-08
775         장현식   1995-02-24

[355 rows x 2 columns]

In [148]:
engine = create_engine(f"mysql+pymysql://sy:1030@:3307/baseball?charset=utf8")
conn = engine.connect()
player.head(10).to_sql(name = 'player_info', con = engine, if_exists = 'append', index=False)
conn.close()